/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.contacts {
    background: #fd72ab;
    height: 600px;

    &__header {
        width: 143px;
        height: 24px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: 0 auto;
        padding: 40px 0;

        button {
            height: 24px;
            border: none;
    
            font-size: 20px;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            cursor: pointer;

            color: #847777;
            background: none;
        }

        .active {
            color: #FFF;
            border-bottom: 2px solid #FFF;
            cursor: default;
        }
    }

    &__map {
        width: 100vw;
        height: 500px;
        border-radius: 50px;
        background-size: cover;
        background-position: center;
    }

    .spb {
        background-image: url("../../resources/img/manicute-spb.webp");
    }

    .msk {
        background-image: url("../../resources/img/manicute-msk.webp");
    }

    &__mapinfo {
        width: 420px;
        border-radius: 47px;
        padding: 16px;

        z-index: 2;
        position: relative;
        top: -450px;
        left: 200px;


        background: -webkit-gradient(linear, left top, left bottom, from(rgb(252, 107, 240)), to(#fd72ab));


        background: -o-linear-gradient(top, rgba(252, 107, 240, 1) 0%, #fd72ab 100%);


        background: linear-gradient(180deg, rgba(252, 107, 240, 1) 0%, #fd72ab 100%);
        -webkit-box-shadow: -7.78321px -7.78321px 31.1329px rgba(255, 255, 255, 0.85), 7.78321px 7.78321px 31.1329px -3.11329px rgba(91, 115, 134, 0.78), inset 12.4531px 14.0098px 14.0098px rgba(255, 255, 255, 0.33), inset -9.33986px -10.8965px 12.4531px rgba(0, 0, 0, 0.05);
                box-shadow: -7.78321px -7.78321px 31.1329px rgba(255, 255, 255, 0.85), 7.78321px 7.78321px 31.1329px -3.11329px rgba(91, 115, 134, 0.78), inset 12.4531px 14.0098px 14.0098px rgba(255, 255, 255, 0.33), inset -9.33986px -10.8965px 12.4531px rgba(0, 0, 0, 0.05);
        
        h1 {
            font-size: 30px;
            font-weight: 700;
            letter-spacing: 0.07em;
        }

        p {
            font-size: 23px;
            letter-spacing: 0.07em;
        }

        &-icons {
            width: 171px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            margin: 0 auto;
            padding-bottom: 16px;
        }

        button {
            width: 200px;
            height: 50px;
            border: none;
            border-radius: 96px;

            font-size: 20px;
            letter-spacing: 0.07em;
            -webkit-transition: 0.25s all ease;
            -o-transition: 0.25s all ease;
            transition: 0.25s all ease;
            background: white;
            cursor: pointer;

            &:hover {
                -webkit-filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
                        filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
                background: -o-linear-gradient(284.25deg, #BDD8EC 7.77%, #EAEAEA 94.11%);
                background: linear-gradient(165.75deg, #BDD8EC 7.77%, #EAEAEA 94.11%);
            }
        }
    }
}

@media all and (max-width: 1300px) {
    .contacts {
        height: auto;
        padding-bottom: 20px;

        &__mapinfo {
            margin: 24px auto 0 auto;
            z-index: 1;
            position: static;
            top: 0;
            left: 0;
        }
    }
}

@media all and (max-width: 768px) {
    .contacts {
        &__map {
            height: 350px;
        }

        &__mapinfo {
            width: 80vw;
            max-width: 420px;
            word-wrap: break-word;
        }
    }
}